<div class="alert undo-changes text-center">
    <a id="undo" class="text-error" href="#">
        <i class="icon-remove-sign"></i> Cancelar operação no servidor.
    </a>
</div>
<h4><span class="text-info">backbone crud csharp</span><small> contas</small></h4>
<hr />
<i class="icon-plus-sign"></i> Cadastrar <a id="create" class="btn btn-link" href="#">conta</a>
<hr />
<div class="row">
    <div class="span12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Contas cadastradas
            </div>  
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>