<style>
    .confirm-background {
        background-color: #444;
        height: 42px;
        left: 0;
        position: absolute;
        z-index: 1040;
        margin-left: 0;
    }
    
    .confirm {
        z-index: 1050; 
        margin: 8px;
        width: 400px;
        float: right;
        text-align: right;
    }
    
    .confirm > span {
        color: #ffffff;
        font-weight: bold;
    }
    
</style>


<div class="confirm-background span12" style="left: <%- left %>px;">
    <div class="confirm">
        <span>Tem certeza que deseja deletar? &nbsp; </span>
        <button id="yes" type="button" class="btn btn-small btn-success"><i class="icon-ok-sign icon-white"></i> sim</button>
        <button id="no" type="button" class="btn btn-small btn-danger"><i class="icon-remove-sign icon-white"></i> não</button>
    </div>
</div>